*.pyc
/build
*.swp
/examples/**/*.csv
/examples/**/*.gz
/examples/**/.*.json
/examples/**/.digest
/examples/**/adj
/examples/**/seg
/examples/**/log
/examples/**/cfg
/examples/**/overlays
/examples/data
