*.pyc
/build
*.swp
.DS_Store
/examples/**/*.csv
/examples/**/*.gz
/examples/**/.*.json
/examples/**/.digest
/examples/**/adj
/examples/**/seg
/examples/**/log
/examples/**/cfg
/examples/**/overlays
/examples/data
/tests/data
/tests/actual
